{%extends 'main/base.html'%}
{%load static%}
{% load crispy_forms_tags %}
{%block content %}
<div class="container" style="margin-top:7%">
  <div class="row">
  <div class="col md-1">
    <div class="col md-7">
      <div class="row">
        <button class="btn btn-sm btn-outline-primary ml-4 mb-3"><a href="{%url 'new_post'%}">Upload Image</a></button>
      </div>

      {%for p in post%}
      <div class="card mb-4">

        <div class="card-header bg-white">
          <img src="{{p.user.user.profile.profile_picture.url}}" class="rounded-circle border-ml-3 mt-2 mr-3" alt="{{p.user.user.username}}" width="35" height="35">
          <a href="{%url 'profile'%}" {{p.user.user.username}} class="mt-4 user">{{p.user.user.username}}</a>
        </div>

        <div class="card-body mb-4">
          <a href="#">
            <img class="image-responsive" src="{{p.image.url}}" alt="" class="card-img" width="100%">
          </a>
        </div>
        <div class="iconic ml-2">
          <div class="iconic ml-2">
            <button class="btn  btn-sm" type="submit"><a href="{% url 'comment' p.id %}"><img src="{% static 'images/bubble-chat.png' %}" alt=""></a></button>

              <button class="btn btn-sm" type="submit"><a href="{% url 'likePost' p.id %}"><img src="{% static 'images/love.png' %}" alt=""></a> {{p.likes}} likes</button>

        </div>
        <span class="ml-4 mb-1"></span>

        <p>
          <span> <b>{{p.user.user.username}}</b></span>
        {{p.caption}}</p>
      </div>

    <div class="card-footer" style="padding: 0">
      <form role="add_comment" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="input-group">
              <input id="id_myfield" type="text" action="#" class="form-control" placeholder="Add a comment" name="comment"
                  style="font-size: 1rem; border: 0;">
              <div class="input-group-btn">
                <button class="btn" type="submit" style="font-size: 1rem; opacity: 0.5;"> Post</button>
                        </div>
                    </div>
                </form>
            </div>

          </div>
          {%endfor%}
          <div class="card">
          <div class="col md-4">hh</div>
        </div>

  </div>

  <!-- modal -->



    </md-1>
  </div>
</div>



{%endblock%}
